.analytics-cards-wrapper {
  background-color: var(--analytics-cards-bg-color);
  border-radius: 0.625rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.border-right {
  border-right: 0.0625rem solid var(--analytics-card-border-right);
}
