:root {
  --body-bg-color: #e8f0f6;
  --revenue-dolor-color: #a1a5b0;
  --revenue-status-increase-bgcolor: #ddfcd9;
  --revenue-status-increase-color: green;
  --revenue-status-decrease-bg-color: #feeaea;
  --revenue-status-decrease-color: #d15f68;
  --card-bg-color: white;
  --analytics-cards-bg-color: white;
  --sidebar-circle-round-message-bg-color: #0b40c9;
  --notify-message-bg-color: #0b40c9;
  --notify-message-color: white;
  --new-round-bg-color: rgb(199, 189, 189);
  --search-color: #a8adb5;
  --notify-bell-color: #a8adb5;
  --analytics-cards-color: #686a70;
  --monthly-revenue-title-color: #565b61;
  --sidebar-active-color: white;
  --activities-title: #212326;
  --invoice-flag-color: #28b215;
  --activities-date-color: #b5b8c0;
  --activities-paragraph-color: #585d62;
  --activities-span-color: black;
  --table-heading-color: #b3b6bb;
  --sidebar-text-color: #686f7a;
  --newtemplate-new-bg-color: white;
  --download-color: black;
  --vertical-line-border-color:#a6b3c7;
  --analytics-card-border-right:grey;
}
