<div class="dashboard-wrapper">
  <div class="flex justify-between pb-8">
    <div class="ml-5"><app-search></app-search></div>
    <div class="mr-14"><app-profile-name></app-profile-name></div>
  </div>

  <div class="overall-cards">
    <div><app-analytics-cards></app-analytics-cards></div>
  </div>

  <div class="flex">
    <div class="cards mt-10 pb-10"><app-monthly-revenue></app-monthly-revenue></div>
    <div class="mt-10"><app-new-templates></app-new-templates></div>
  </div>

  <div class="flex">
    <div class="cards mt-10"><app-activities></app-activities></div>
    <div class="cards mt-10 ml-10 w-full"><app-recent-invoices></app-recent-invoices></div>
  </div>
</div>
