<div class="search-wrapper">
  <div class="flex items-end mb-3">
    <div><mat-icon class="color-grey">search</mat-icon></div>
    <div><input type="text" placeholder="Tap to search" class="color-grey" /></div>
  </div>
</div>
