<div class="profile-wrapper">
  <div class="flex items-center">
    <div class="mt-2.5">
      <div class="notify">2</div>
      <mat-icon class="icon-color">notifications</mat-icon>
    </div>
    <div class="flex items-center ml-6">
      <div class="profile-image">
        <img
          src="https://static.moviecrow.com/marquee/isaignani-ilayarajas-first-ever-composition-for-corporate-brand-hccb/172580_thumb_665.jpg"
          alt="Illayaraja"
        />
      </div>
      <div class="flex flex-col">
        <div class="font-medium">David Spade</div>
        <div class="text-sm text-color">Sales Admin</div>
      </div>
    </div>
  </div>
</div>
