.profile-image {
  img {
    width: 2.125rem;
    height: 2.125rem;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    margin-right: 0.625rem;
  }
}
.notify {
  position: absolute;
  margin-left: 0.5625rem;
  margin-top: -0.5rem;
  border-radius: 50%;
  background-color: var(--notify-message-bg-color);
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  align-self: center;
  font-size: 0.875rem;
  color: var(--notify-message-color);
}
.icon-color {
  color: var(--notify-bell-color);
}
.text-color {
  color: var(--sidebar-text-color);
}
