@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './Styles/invoice-dashboard-component.scss';
@import './Styles/analytics-cards-component.scss';
@import './Styles/variables.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  // background: linear-gradient(135deg,#f6f8fa,#e9f3fb 60%) }
  background: linear-gradient(135deg, #f5f9fa, #e9f3fb 25%);
  background-size: 100% 200%;
}
