<div class="activities-wrapper">
  <div class="p-10">
    <div><h2 class="mb-4 activities-title font-medium text-lg">Activities</h2></div>
    <div class="flex activites-details" *ngFor="let activity of activities; let i = index">
      <div class="mt-2.5">
        <img src="{{ activity.imageUrl }}" alt="profile-photo" />
        <div class="vertical-line" *ngIf="i !== activities.length - 1"></div>
      </div>
      <div class="flex flex-col ml-5">
        <div class="flex text-xs invoice-color" *ngIf="activity.newInvoice === 'yes'">
          <div><mat-icon class="text-xl font-medium">flag</mat-icon></div>
          <div class="text-xs self-center font-medium">New Invoice</div>
        </div>
        <div class="paragraph">
          <span class="activities-name font-semibold">{{ activity.title }}</span>
          {{ activity.paragraph }}
        </div>
        <div class="text-xs mt-2 date-color">{{ activity.Date }}</div>
      </div>
    </div>
  </div>
</div>
