.activites-details {
  img {
    width: 2rem;
    height: 2rem;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
    margin-right: 1rem;
  }
}
.mat-icon,
.invoice-color {
  color: var(--invoice-flag-color);
}
.vertical-line {
  height: 3.125rem;
  border-left: 0.0625rem solid var(--vertical-line-border-color);
  margin-left: 1rem;
  margin-bottom: 0.625rem;
  margin-top: 1.5rem;
}
.activities-title {
  color: var(--activities-title);
}
.date-color {
  color: var(--activities-date-color);
}
.paragraph {
  color: var(--activities-paragraph-color);
}
.activities-name {
  color: var(--activities-span-color);
}
