::ng-deep {
  .chart-legend {
    display: none !important;
  }
  .ngx-charts .arc.active,
  .ngx-charts .arc:hover,
  .ngx-charts .bar.active,
  .ngx-charts .bar:hover,
  .ngx-charts .card.active,
  .ngx-charts .card:hover,
  .ngx-charts .cell.active,
  .ngx-charts .cell:hover {
    fill: #0644c4;
  }
  .ngx-charts {
    padding-left: 1.625rem;
  }
}
.monthly-title {
  color: var(--monthly-revenue-title-color);
}
.dollar {
  color: var(--revenue-dolor-color);
}
