<div class="monthly-revenue-wrapper p-10">
  <div class="ml-2.5 font-medium monthly-title">Monthly Revenue</div>
  <div class="mt-6 mb-20 ml-2.5 text-xl font-medium"><span class="dollar mr-2">$</span>15,000</div>
  <div>
    <ngx-charts-bar-vertical
      [view]="view"
      [scheme]="colorScheme"
      [results]="single"
      [barPadding]="20"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      class="pb-10"
    >
    </ngx-charts-bar-vertical>
  </div>
</div>
