<div class="recent-invoices-wrapper p-10">
  <div class="font-semibold revenue-title mb-5 text-lg">Recent Invoices</div>
  <div>
    <table class="text-left w-full">
      <tr class="border-table pb-6 text-xs">
        <th *ngFor="let heading1 of recentInvoice; let i; as: index">
          {{ heading1.heading }}
        </th>
      </tr>
      <td class="mt-4" *ngFor="let rows of recentInvoice; let j; as: index">
        <tr *ngFor="let rows1 of rows.rowDatas" class="padding2 font-medium">
          <span [ngClass]="{ paid: rows1.name === 'PAID', overdue: rows1.name === 'OVERDUE' }">{{
            rows1.name
          }}</span>
        </tr>
      </td>
    </table>
  </div>
</div>
