.border-table {
  border-top: 0.0625rem solid var(--monthly-revenue-title-color);
  border-bottom: 0.0625rem solid var(--monthly-revenue-title-color);
  color: var(--table-heading-color);
}
.revenue-title {
  color: var(--monthly-revenue-title-color);
}
.paid {
  background: var(--revenue-status-increase-bgcolor);
  color: var(--revenue-status-increase-color);
  border-radius: 1.25rem;
  font-size: 0.875rem;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  text-align: center;
}
.overdue {
  background: var(--revenue-status-decrease-bg-color);
  color: var(--revenue-status-decrease-color);
  font-size: 0.875rem;
  border-radius: 1.25rem;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  text-align: center;
}
table {
  th {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  td {
    padding-top: 1.5625rem;
    padding-bottom: 1.5625rem;
  }
}

tr {
  border-bottom: 1.25rem solid var(--sidebar-active-color);
}
