<div class="new-templates-wrapper p-14 ml-10">
  <div class="flex flex-col">
    <div class="p-1 rounded-full w-14 new-round text-center font-semibold text-sm">NEW</div>
    <div class="font-semibold pt-10 text-2xl">We have added new invoicing templates!</div>
    <div class="pt-10">New templates focused on helping you improve your business</div>
    <div class="p-3 rounded-2xl download text-center mt-10">
      <button class="font-semibold">Download now</button>
    </div>
  </div>
</div>
