.new-templates-wrapper {
  background:var(--sidebar-circle-round-message-bg-color);
  background-size: cover;
  border-radius: 1.25rem;
  color: var(--card-bg-color);
  .new-round {
    background-color: var(--newtemplate-new-bg-color);
    color: var(--download-color);
  }
  .download {
    background-color: var(--newtemplate-new-bg-color);
    color: var(--download-color);
  }
}
