<div class="total-revenue-wrapper">
  <div class="flex">
    <div class="mr-6 image"><img src="{{ clients?.imageUrl }}" alt="clients-image" /></div>
    <div class="flex flex-col">
      <div class="text-base font-medium title-color">{{ clients?.title }}</div>
      <div class="flex mt-3">
        <div class="text-xl font-medium">
          <h2>{{ clients?.amount }}</h2>
        </div>
        <div class="flex ml-2 revenue-status items-center mt-1">
          <div class="ml-2">{{ clients?.amountIncrease }}</div>
          <div>
            <mat-icon
              class="text-xs items-center mt-1.5 increase font-medium"
              *ngIf="clients?.status === 'increase'"
              >north_east</mat-icon
            >
          </div>
          <div>
            <mat-icon
              class="text-xs items-center mt-1.5 decrease"
              *ngIf="clients?.status == 'decrease'"
              >south_east</mat-icon
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
