<div class="analytics-cards-wrapper p-10">
  <div class="flex justify-between">
    <div class="border-right pr-20"><app-total-revenue></app-total-revenue></div>
    <div class="border-right pr-20"><app-invoices></app-invoices></div>
    <div class="border-right pr-20"><app-clients></app-clients></div>
    <div class="pr-20"><app-loyalty></app-loyalty></div>
  </div>
</div>
