<div class="sidebar-wrapper content-center">
  <div class="flex logo pt-10">
    <div class="logo-image">
      <img
        src="https://5.imimg.com/data5/YD/GE/YZ/SELLER-93405570/mobile-web-computer-billing-app-for-wholesalers-distributors-250x250.png"
        alt="logo"
      />
    </div>
    <div><h1 class="text-3xl ml-2">Invo.</h1></div>
  </div>
  <div class="sidebar-details flex flex-col mt-20">
    <div class="flex pt-3 pb-3 mb-3 pl-3 bg-active-color rounded-2xl items-center">
      <div><mat-icon class="pt-1">home</mat-icon></div>
      <div class="ml-3">Home</div>
      <div></div>
    </div>

    <div class="flex pt-3 pb-3 mb-3 pl-3 items-center text-color">
      <div><mat-icon class="pt-1">receipt</mat-icon></div>
      <div class="ml-3">Invoices</div>
      <div></div>
    </div>

    <div class="flex pt-3 pb-3 mb-3 pl-3 items-center text-color">
      <div><mat-icon class="pt-1">group</mat-icon></div>
      <div class="ml-3">Clients</div>
      <div></div>
    </div>

    <div class="flex pt-3 pb-3 mb-3 pl-3 items-center text-color">
      <div><mat-icon class="pt-1">tag</mat-icon></div>
      <div class="ml-3">Products</div>
      <div></div>
    </div>

    <div class="flex pt-3 pb-3 mb-3 pl-3 items-center text-color">
      <div><mat-icon class="pt-1">messages</mat-icon></div>
      <div class="ml-3">Messages</div>
      <div class="circle-message ml-20">2</div>
    </div>

    <div class="flex pt-3 pb-3 mb-3 pl-3 items-center text-color">
      <div><mat-icon class="pt-1">settings</mat-icon></div>
      <div class="ml-3">Settings</div>
    </div>

    <div class="flex pt-3 pb-3 mb-3 pl-3 items-center text-color">
      <div><mat-icon class="pt-1">help</mat-icon></div>
      <div class="ml-3">Help</div>
    </div>
  </div>
</div>
