.sidebar-details,
.logo {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  .text-color {
    color: var(--sidebar-text-color);
  }
}
.circle-message {
  border-radius: 50%;
  background-color: var(--sidebar-circle-round-message-bg-color);
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  align-self: center;
  font-size: 0.875rem;
  color: var(--sidebar-active-color);
}
.bg-active-color {
  background: var(--sidebar-circle-round-message-bg-color);
  color: var(--sidebar-active-color);
}
.logo-image {
  width: 15%;
}
