.dollar {
  color: var(--revenue-dolor-color);
}
.revenue-status {
  background-color: var(--revenue-status-decrease-bg-color);
  color: var(--revenue-status-decrease-color);
  border-radius: 1.25rem;
  font-size: 0.625rem;
  font-weight: 600;
  height: 1.363rem;
}
.image {
  width: 12%;
  margin-left: 1.5rem;
}
.title-color {
  color: var(--analytics-cards-color);
}
.decrease {
  background-color: var(----revenue-status-decrease-bg-color);
  color: var(--revenue-status-decrease-color);
}
