<div class="total-revenue-wrapper">
  <div class="flex">
    <div class="mr-6 image"><img src="{{ loyalty?.imageUrl }}" alt="invoices-image" /></div>
    <div class="flex flex-col">
      <div class="text-base font-medium title-color">{{ loyalty?.title }}</div>
      <div class="flex mt-3">
        <div class="text-xl font-medium">
          <h2>{{ loyalty?.amount }}</h2>
        </div>
        <div class="flex ml-2 revenue-status items-center mt-1">
          <div class="ml-2 font-semibold">{{ loyalty?.amountIncrease }}</div>
          <div>
            <mat-icon
              class="text-xs items-center mt-1.5 increase font-medium"
              *ngIf="loyalty?.status === 'increase'"
              >north_east</mat-icon
            >
          </div>
          <div>
            <mat-icon
              class="text-xs items-center mt-1.5 decrease"
              *ngIf="loyalty?.status == 'decrease'"
              >south_east</mat-icon
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
